@import url('http://fonts.googleapis.com/css?family=Lilita+One');

body {
font-family:"Lilita One";
color:#000;
background-color:#fff;
text-shadow:8px 8px 8px #ddd;
text-align:center;
margin:10px;
}

h1 {
text-align:center;
font-size:6em;
}

div#main {
margin-top:160px;
}
